<!DOCTYPE html>
<html lang="en">

<head>
    <title>HUST iWAF - Web Application Firewall</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="mt-4 mb-4" style="border-bottom: 4px solid #AAA;">
            <h1>HUST iWAF - Web Application Firewall</h1>
        </div>

        <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#ddos-settings" role="tab" data-toggle="tab">DDOS Protection</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#server-list" role="tab" data-toggle="tab">Servers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#server-status" role="tab" data-toggle="tab">Server Status</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#others" role="tab" data-toggle="tab">Others</a>
            </li> -->
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active pt-2" id="ddos-settings">
                <div style="border: 1px solid #DEDEDE; width: 100%; padding: 2rem;">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="rate_limit_interval">Rate limit Interval (default: 60 (s))</label>
                            <input type="number" class="form-control" id="rate_limit_interval">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="rate_limit_warning_thresh">Warning threshold (requests/interval)</label>
                            <input type="number" class="form-control" id="rate_limit_warning_thresh">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="rate_limit_block_thresh">Rate limit (requests/interval)</label>
                            <input type="number" class="form-control" id="rate_limit_block_thresh">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="rate_limit_block_time">Rate limit Blocking time (seconds)</label>
                            <input type="number" class="form-control" id="rate_limit_block_time">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="rate_limit_ddos_thresh">DDOS threshold (requests/interval). When the DDOS
                                rate
                                exceeds this number, whitelist mode will be activated.</label>
                            <input type="number" class="form-control" id="rate_limit_ddos_thresh">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="rate_limit_ddos_interval">DDOS Interval</label>
                            <input type="number" class="form-control" id="rate_limit_ddos_interval">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="rate_limit_ddos_blocking_time">DDOS Blocking time</label>
                            <input type="number" class="form-control" id="rate_limit_ddos_blocking_time">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="rate_limit_whitelist_expiration_time">Challenge valid time (seconds) - Time in
                                whitelist after a challenge</label>
                            <input type="number" class="form-control" id="rate_limit_whitelist_expiration_time">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="rate_limit_under_attack">
                            <label class="form-check-label" for="rate_limit_under_attack">
                                I'm under attack now. Check this if you think you are under attack now. Hard
                                theshold mode will be activated.
                            </label>
                        </div>
                    </div>
                    <button class="btn btn-primary" onclick='requestUpdateParams(
                            "rate_limit_interval",
                            "rate_limit_warning_thresh",
                            "rate_limit_block_thresh",
                            "rate_limit_block_time",
                            "rate_limit_ddos_thresh",
                            "rate_limit_ddos_interval",
                            "rate_limit_ddos_blocking_time",
                            "rate_limit_whitelist_expiration_time",
                            "rate_limit_under_attack"
                            )'>Save</button>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade pt-4" id="server-list">
                <div style="border: 1px solid #DEDEDE; width: 100%; padding: 2rem;">
                    <div id="myDIV" class="header">
                        <h2 style="margin:5px; width: 70%; float: left;">Server List</h2>
                        <p style="text-align: right; width: 20%; float: left;">
                            <button class="btn btn-primary" onclick='requestUpdateParams(
                                    "servers"
                                    )'>Save</button>
                        </p>

                        <input type="text" class="server-input"
                            placeholder="Server Address. Eg: http://webserver1.com:8080">
                        <span onclick="newServerFromInput()" class="addBtn">Add</span>
                    </div>

                    <ul class="address-list">
                    </ul>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="server-status">
                <div class="row" id="servers"></div>
            </div>
            <div role="tabpanel" class="tab-pane fade pt-4" id="others">
                <div style="border: 1px solid #DEDEDE; width: 100%; padding: 2rem;">
                    <form method="POST">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="force_xss">
                                <label class="form-check-label" for="force_xss">
                                    Force XSS Protection
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="only_same_origin_iframe">
                                <label class="form-check-label" for="only_same_origin_iframe">
                                    Only Allow Same Origin IFrame
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>
            </div>
        </div>



    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

<style>
    /* Remove margins and padding from the list */
    #server-list ul {
        margin: 0;
        padding: 0;
    }

    /* Style the list items */
    #server-list ul li {
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        list-style-type: none;
        background: #eee;
        font-size: 18px;
        transition: 0.2s;

        /* make the list items unselectable */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Set all odd list items to a different color (zebra-stripes) */
    #server-list ul li:nth-child(odd) {
        background: #f9f9f9;
    }

    /* Darker background-color on hover */
    #server-list ul li:hover {
        background: #ddd;
    }

    /* When clicked on, add a background color and strike out text */
    #server-list ul li.checked {
        background: #888;
        color: #fff;
        text-decoration: line-through;
    }


    /* Style the close button */
    #server-list .close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px 16px 12px 16px;
    }

    #server-list .close:hover {
        background-color: #f44336;
        color: white;
    }

    /* Clear floats after the header */
    #server-list .header:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Style the input */
    #server-list input {
        margin: 0;
        border: none;
        border-radius: 0;
        width: 75%;
        padding: 10px;
        float: left;
        font-size: 16px;
        background: #ededed;
    }

    /* Style the "Add" button */
    #server-list .addBtn {
        padding: 10px;
        width: 25%;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
    }

    #server-list .addBtn:hover {
        background-color: #bbb;
    }
</style>

<script>
    function refreshStatus() {
        $("#servers").html("");
        $.get("/get_server_status?t=" + new Date(), function (data) {
            data = data.data;
            let html = "";
            for (let i = 0; i < data.length; ++i) {
                let progress = Math.floor(data[i].processing_tasks / data[i].server_queue_size * 100);
                if (typeof data[i].processing_tasks === "undefined") {
                    progress = 100;
                }
                html += `
                <div id="server-` + i + `" class="col col-md-4 p-2">
                    <div class="p-2" style="height: 12rem; border: 5px solid #DEDEDE;">
                        <h5>Server ID: ` + (i + 1) + `</h5>
                        <p class="m-0"><b>Address: </b> ` + data[i].address + `</p>
                        <p class="p-0"><b>Status: </b> ` + (data[i].online ? "Online" : "Offline") + `</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-` + (progress > 50 ?
                        (progress > 80 ? "danger" : "warning") : "success") +
                    `" role="progressbar" aria-valuenow="` + progress +
                    `" aria-valuemin="0" aria-valuemax="100" style="width: ` + (10 + progress) + `%">` + data[i]
                    .processing_tasks + `/` + data[i].server_queue_size + `</div>
                        </div>
                    </div>
                </div>
            `;
            }

            $("#servers").html(html);
        });
    }

    refreshStatus();

    setInterval(refreshStatus, 2000);
</script>


<script>
    // Create a "close" button and append it to each list item
    var myNodelist = document.querySelectorAll("#server-list li");
    var i;
    for (i = 0; i < myNodelist.length; i++) {
        var span = document.createElement("SPAN");
        var txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        myNodelist[i].appendChild(span);
    }

    // Click on a close button to hide the current list item
    var close = document.querySelectorAll("#server-list .close");
    var i;
    for (i = 0; i < close.length; i++) {
        close[i].onclick = function () {
            var div = this.parentElement;
            div.style.display = "none";
        }
    }

    function clearServerList() {
        document.querySelector("#server-list .address-list").innerHTML = "";
    }

    function addServer(serverAddress) {
        var li = document.createElement("li");
        li.setAttribute("value", serverAddress);
        var t = document.createTextNode(serverAddress);
        li.appendChild(t);

        document.querySelector("#server-list .address-list").appendChild(li);

        let span = document.createElement("SPAN");
        let txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        li.appendChild(span);

        close = document.querySelectorAll("#server-list .close");
        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                this.parentElement.parentNode.removeChild( this.parentElement );
            }
        }
    }

    // Create a new list item when clicking on the "Add" button
    function newServerFromInput() {
        var inputValue = document.querySelector("#server-list .server-input").value;

        if (inputValue === '') {
            alert("Input server address first");
        } else {
            addServer(inputValue);
        }

        document.querySelector("#server-list .server-input").value = "";

    }
</script>

<!-- Update params to servers -->
<script>
    const INT_PARAMS = [
        "rate_limit_interval",
        "rate_limit_warning_thresh",
        "rate_limit_block_thresh",
        "rate_limit_block_time",
        "rate_limit_ddos_thresh",
        "rate_limit_ddos_interval",
        "rate_limit_ddos_blocking_time",
        "rate_limit_whitelist_expiration_time",
    ]

    var requestRefreshParams = function () {
        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "",
            success: function (data) {
                for (let key in data) {
                    if (data.hasOwnProperty(key)) {

                        if (INT_PARAMS.includes(key)) {
                            $("#" + key).val(data[key]);
                        }

                        if (key === "rate_limit_under_attack") {
                            $("#rate_limit_under_attack").prop("checked", true);
                        }

                        if (key === "servers") {
                            clearServerList();
                            let servers = data[key];
                            for (let i = 0; i < servers.length; ++i) {
                                addServer(servers[i].address)
                            }
                        }
                    }
                }
            },
            error: function (data) {
                alert(data.responseText)
            },
            dataType: "json"
        });
    }


    $(document).ready(function () {
        requestRefreshParams();
    });

    var requestUpdateParams = function (...keys) {

        if (keys.length == 0) {
            return;
        }

        let params = {};
        for (let i = 0; i < keys.length; ++i) {
            if (INT_PARAMS.includes(keys[i])) {
                params[keys[i]] = parseInt($("#" + keys[i]).val())
            }
            if (keys[i] == "rate_limit_under_attack") {
                if ($("#rate_limit_under_attack").is(":checked")) {
                    params["rate_limit_under_attack"] = true;
                } else {
                    params["rate_limit_under_attack"] = false;
                }
            }
            if (keys[i] == "servers") {
                let servers = [];
                $(".address-list li").each(function( index ) {
                    servers.push($( this ).attr("value"))
                });
                params["servers"] = servers;
            }
        }

        console.log(params);
        

        $.ajax({
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            url: "",
            data: JSON.stringify(params),
            success: function (data) {
                alert(data)
            },
            error: function (data) {
                alert(data.responseText)
            },
            dataType: "json"
        });

    }
</script>

</html>